---
import TypewriterEffect from "../React/TypewriterEffect.tsx";
import LogoWall from "./logoWall.astro";
---

<section class="text-[var(--white)] mt-12 md:mt-0" id="home">
  <div class="max-w-5xl mx-auto space-y-8 md:py-24 pb-14">
    <div class="text-left space-y-4">
      <div class="flex justify-center md:hidden mb-8">
        <img 
          src="/webp/Profile_Photo_2023_Cropped.webp" 
          alt="Nick Montelibano"
          width="128"
          height="128" 
          class="size-40 rounded-full object-cover object-center border-2 border-[var(--white-icon-tr)] hover:border-[var(--sec)] transition-colors duration-300"
          loading="eager"
          decoding="async"
        />
      </div>
      <p class="text-md md:text-lg text-[var(--white-icon)] shiny-white">
        Hi, I'm <span class="ml-1"><TypewriterEffect client:load text="Nick Montelibano" showCursor={false} /></span>
      </p>
      <div class="flex flex-col lg:flex-row lg:items-start space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4">
        <div class="flex items-start gap-6 shrink-0">
          <h1 class="text-[var(--white)] text-5xl md:text-6xl font-medium text-pretty leading-none min-w-[300px] md:min-w-[400px]">
            <TypewriterEffect 
              client:load 
              text={['Software', 'Engineer']}
              startDelay={2000}
              showCursor={true}
            />
          </h1>
          <img 
            src="/webp/Profile_Photo_2023_Cropped.webp" 
            alt="Nick Montelibano"
            width="128"
            height="128" 
            class="hidden md:block size-20 md:size-32 rounded-full object-cover object-center border-2 border-[var(--white-icon-tr)] hover:border-[var(--sec)] transition-colors duration-300"
            loading="eager"
            decoding="async"
          />
        </div>
        <p class="text-md md:text-2xl text-[var(--white-icon)]">
          Creating 
          <span class="text-[var(--sec)] shiny-sec">transformative solutions</span> at the intersection of hardware and software to improve people's lives
        </p>
      </div>
      <div class="flex justify-start gap-2 pt-3 md:pt-6">
        <a target="_blank" href="www.linkedin.com/in/nick-montelibano" aria-label="LinkedIn" class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
            <path d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"></path>
          </svg>
        </a>
        <a target="_blank" href="mailto:nick@fractallogic.io" aria-label="Email" class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)]">
          <svg xmlns="http://www.w3.org/2000/svg" width="2.1em" height="2.1em" viewBox="0 0 24 24">
            <path fill="currentColor" d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"/>
          </svg>
        </a>
      </div>
    </div>
    <LogoWall />
  </div>
</section>

<style is:global>
.shiny-sec {
    background: linear-gradient(
        135deg,
        #A476FF 25%,
        #eee5ff 50%,
        #A476FF 75%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100% 50%;
    }
    30%, 70% {
        background-position: 0% 50%;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.animate-blink {
    animation: blink 1s step-end infinite;
}
</style>